<div class="container">
    <div class="first-section row">



        <div class="col-8 center">
            <div class="box-one">
              <h1>Select Your New Perfect Style</h1>  
              <p>Getting discount with a very splanned materail of design </p>
                <h3 class="time-date" >{{Time}}</h3>
                <div class="timing">
                    <span>hours: {{hour}}</span>
                    <span>minutes: {{minuts}}</span>
                    <span>second: {{second}}</span>
                </div>


                <div class="btn-shop-now">
                 <a routerLink='/products/list'>Shop now</a>   
                </div>           
            </div>
            

        </div>


        <div class="col-4">
            <img src="../../../../assets/imgs/watch.png" alt="watch">
        </div>
    </div>






    <div class="row title-box center m">
        <h1>Popular Items</h1>
    </div>

    <div class="second-section row m">
        <div class="col-12 center ">
            <div class="box-cards">
<app-product-item  *ngFor="let item of watches"  [watch]='item' ></app-product-item>
           </div>
        </div>

    </div>

    <div class="third-section row m">
        <div class="col-6">
            <img height="100%"  [src]="'https://images.unsplash.com/photo-1526743655626-e3d757b13d61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80'">
            <div class="overlay"></div>
        </div>
        <div class="col-3">
            <img height="100%"  [src]="'https://images.unsplash.com/photo-1577993944451-f8618a835822?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=406&q=80'">
            <div class="overlay"></div>
        </div>
        <div class="col-3">
            <img height="50%"  [src]="'https://images.unsplash.com/photo-1622434641406-a158123450f9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=404&q=80'">
            <img height="50%"  [src]="'https://images.unsplash.com/photo-1542496658-e33a6d0d50f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80'">
            <div class="overlay"></div>
        </div>
    </div>


    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="btn-shop-now">
                <a style="width:100%" routerLink='/products/list'>View More Products</a>
            </div>  
        </div>
        <div class="col-4"></div>
    </div>

</div>